html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: 15px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primaryColor: #000;
  --secondaryColor: #fff;
}

/* spalsh-screen */

.splash__screen {
  height: 0px;
  padding: 0px;
  border: 130em solid #42405a;
  position: fixed;
  left: 50%;
  top: 100%;
  display: block;
  box-sizing: initial;
  overflow: hidden;

  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    borderRadius 0.2s 2.3s linear forwards;
}

.splash__shape {
  background: #be93fd;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
    moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
    materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards,
    hide 2s 2.9s ease forwards;
}

/* moveIn */
.splash header {
  opacity: 0;
  animation: moveIn 2s 3.1s ease forwards;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 70px;
    height: 70px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: #845ec2;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: rgb(180, 89, 250);
  }
}

/* bouncing from the center and reaching at the very top */
@keyframes materia {
  0% {
    background: rgb(180, 89, 250);
  }
  50% {
    background: rgb(180, 89, 250);
    top: 26px;
  }
  100% {
    background: rgb(180, 89, 250);
    width: 100%;
    height: 100px;
    border-radius: 0px;
    top: 26px;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* sticky-Navbar */
/* this is main-parent in which navbar is included that's why it's working */
.wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* if you set the sticky position here then it will not work because it's not a main-parent */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #dcb0ff;
  padding: 0 30px 0 30px;
  /* position: -webkit-sticky;
      position: sticky;
      top: 0; */
  box-shadow: 0px 1.5px 12px blueviolet;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: rgb(122, 63, 218);
  font-size: 1.5rem;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: #6a696c;
}

.logo,
.logoIcon {
  width: 110px;
  vertical-align: middle;
}
/* dark-mode */
body.dark-mode {
  background-color: #eee;
  color: #111;
}
body.light-mode {
    background-color: #111;
    color: #eee;
  }
body.dark-mode a {
  color: #111;
}
body.dark-mode button {
  background-color: #eee;
  color: #111;
}


body.light-mode a {
  color: #111;
}
body.light-mode button {
  background-color: #111;
  color: #eee;
}

.fa-moon {
    cursor: pointer;  
}
/* mobile */
@media all and (max-width: 767px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .nav-item a {
    font-size: 1.1rem;
  }
}
/* search bar */
.navbar__search-container {
  align-self: center;
  
}

form input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 1.2rem;
  border: none;
}
.navbar__search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: -72px;
  background: #ddd;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
/* tablet */
@media all and (min-width: 768px) and (max-width: 1199px) {
  /* search-bar */
  
  .navbar__search-container {
    margin-left: -7rem;
  }
form input[type=text] {
 
  font-size: 0.9rem;
  
}
.navbar__search-container button {

  font-size: 0.9rem;
 
}
}

/* desktop */
@media all and (min-width: 1200px) {
}
